* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  width: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 2.6em;
  text-align: center;
  margin-bottom: 35px;
}

.amount {
  font-size: 1.5em;
}

.oval {
  position: absolute;
  left: 20%;
  top: 55%;
  transform: translate(-50%, -50%);
}

.xval {
  position: absolute;
  left: 20%;
  top: 75%;
  transform: translate(-50%, -50%);
}

.gamefield {
  width: 152px;
  border: 1px solid black;
  margin: 0 auto;

}

.box {
  min-width: 50px;
  min-height: 50px;
  border: 1px solid black;
  display: inline-block;
  float: left;
  cursor: pointer;
  font-size: 2.63em;
  text-align: center;
}


.clearfix {
  display: block;
  content: "";
  clear: both;
}

.winner {
  position: absolute;
  left: 50%;
  top: 115%;
  transform: translate(-50%, -50%);
}


.btn-class button {
  padding: 5px;
  font-size: 2em;
  position: absolute;
  left: 81%;
  top: 67.7%;
  transform: translate(-50%, -50%);
}
